.abc{
    background-color: red;
    color: white;
    height: 50px;
}

.contact-header{

    padding: 10px 50px 0px 50px ;
}
.contact-header p{
    display: inline-block;
}

p:hover {
    color: #323232;
}

.login-btn{
    margin-top: -10px;
}