.buySell{
    display: flex;
}


.buyCar{
    background-color: black;
    display: flex;
    width: 50%;
    color: white;
    padding: 40px 30px 0px 30px ;
}

.SellCar{
    background-color: red;
    display: flex;
    width: 50%;
    color: white; 
    padding: 40px 30px 0px 30px ;
}

.desc{
    margin: 30px 20px 0px 20px ;
}